@page {
  size: A4;
  padding-top: 40px;
}

img.avatar {
  width: 100px !important;
}

.top-box table {
  /*margin-left: 100px;*/
}

.float-left-on-print {
  float: left;
}

.dont-show-on-print {
  display: none;
}

.padding-on-print {
  margin-top: 20px;
}

#snackbar {
  display: none !important;
}